/* reset des parametres CSS*/
* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
   justify-content: center;
}

/*Navbar */

.navbar {
   display: flex;
   height: 150px;
   margin-left: 5vw;
   margin-right: 5vw;
}

.btnConnect {
   display: flex;
   align-items: center;
   min-width: 20vw;
}

.btnCo1 {
   margin-right: 10px;
}
.btnCo2 {
   margin-right: 10px;
}

#navbarNav {
   width: 100vw;
   max-width: 100vw;
   left: 0;
   right: 0;
}

/* Image de fond POSITION*/
body {
   background-color: #9DC0D4;
   background-image: url('./photos/2.jpg');
   background-size: cover;
   background-size: cover;
   background-position: center;
   height: 100vh;
}

.container-fluid {
   height: 100vh;
   display: flex;
   flex: column;
}



/* FORMULAIRE DE CONNEXION*/
.login-form {
   margin: 0 0 15px;
   margin-bottom: 15px;
   background: #f7f7f779;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   padding: 30px;
   border-radius: 8px;
   max-width: 50vh;
}

.form-control,
.btn {
   min-height: 40px;
   border-radius: 5px;
   margin-bottom: 4px;
}

.btn {
   font-size: 15px;
   font-weight: bold;
}

/* MISE EN PAGE DU CRUD page "recettes.php" */
.form2 {
   margin-bottom: 15px;
   background: #f7f7f7c6;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.216);
   padding: 30px;
   border-radius: 8px;
   max-height: 80vh;
}

/* MISE EN PAGE INDEX page "index.php" */
.form3 {
   margin-bottom: 15px;
   background: #f7f7f7c6;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.216);
   padding: 30px;
   border-radius: 8px;
   max-height: 80vh;
}

.create-form {
   /* MISE EN PAGE DU CREATE page "create.php" */
   margin-bottom: 15px;
   background: #f7f7f7c6;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.216);
   padding: 30px;
   border-radius: 8px;
   min-width: 20vw;
   max-height: 80vh;
}


.hello-user {
   /* MISE EN PAGE DU CRUD page "landing.php" */
   margin-bottom: 15px;
   background: #f7f7f7c6;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.216);
   padding: 30px;
   border-radius: 8px;
}

.details {
   /* MISE EN PAGE DU CRUD page "details.php" */
   margin-bottom: 15px;
   background: #f7f7f7c6;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.216);
   padding: 30px;
   border-radius: 8px;
   max-height: 65vh;
}

.edition {
   /* MISE EN PAGE DU CRUD page "editer.php" */
   margin-bottom: 10px;
   background: #f7f7f7c6;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.216);
   padding: 30px;
   border-radius: 8px;

}


input.form {
   width: 20px;
   height: 20px;
   margin-left: 15px;
}

.btn btn-outline-success {
   display: block;
   margin-left: 0;
   margin-left: auto;
}



/* MISE EN PAGE DU formulaire champs recette */

.form-text {
   min-height: 50px;
   min-height: 40px;
   border-radius: 5px;
}



.custom-file {
   border-radius: 5px;
   background-color: rgb(50, 123, 13);
   color: white;
   padding: 0.5rem;
   font-family: sans-serif;
   border-radius: 0.3rem;
   cursor: pointer;
   margin-top: 1rem;
}